layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

layer-rule {
    match namespace="^launcher$"

    background-effect {
        blur true
        xray false
    }
}

layer-rule {
    match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
    background-effect {
        xray false
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match is-floating=true

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window false
    }
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
    draw-border-with-background false
    background-effect {
        blur true
        xray false
    }
    opacity 0.7

    popups {
        opacity 1.00
    }
}

window-rule {
    match is-focused=true
    opacity 0.9
}
